ul{
    list-style-type: none;
    margin: 0;
    padding:10px;
    overflow: hidden;
    background-color: blue;
    
    color: white;
}
li{
    float:left;
    margin-left: 10px;
}

li:not(:first-child){
    margin-left: 10px;
} 
a{
    color:white;

}